name: Android CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "assets/**"
      - "images/**"
      - "LICENSE*"
      - "CHANGELOG*"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "assets/**"
      - "images/**"
      - "LICENSE*"
      - "CHANGELOG*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Set executable permission on gradle wrapper
      run: chmod +x ./gradlew
      
    - name: Build with Gradle
      run: ./gradlew build
