name: Android CI

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - ".github/*.yml"
      - ".github/**"
      - "**/*.md"
      - "docs/**"
      - "assets/**"
      - "images/**"
      - "LICENSE*"
      - "CHANGELOG*"
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      
    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload debug APK
      if: ${{ github.event_name == 'workflow_dispatch' && success() }}
      uses: actions/upload-artifact@v6
      with:
        name: debug-apk
        path: |
          app/build/outputs/apk/**/debug/*.apk
          **/build/outputs/apk/**/debug/*.apk
